@import "~/node_modules/bootstrap-scss/bootstrap.scss";

.wrapper{
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	width:100vw;
	height: 100vh;
	cursor: none;
	user-select: none;
}

.videoContainer{
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
}